@import "tailwindcss";
@reference "tailwindcss";

/* Utilitaires */
.no-scrollbar::-webkit-scrollbar{ display:none; }
.no-scrollbar{ -ms-overflow-style:none; scrollbar-width:none; }

:root { color-scheme: light; }
